.card {
  width: 32%;
  margin-left: 1%;
}
.awards{
  margin: 1px auto;
}
.middle{
  margin: 0px auto;
  text-align: center;
  max-width: 100%;
}
.color-blue{
  color: blue;
}
.color-white{
  color: white;
  font-family: "Times New Roman";
}
.flag{
  margin-top:-20px;
}
.reg{
 margin-left: 20px;
}
.padding_reg{
  padding: 20px;
}
.background-about{
  background-image: url('/img/blazon.jpg');
  background-repeat: no-repeat;
}
.img{
  height: 200px;
  width: 50px;
}
form{
  width: 500px;
}
.gl{
  margin-right: 50px;
}
